<h1><strong><%= @explain.name%></strong></h1>
<p> </p>



<style type="text/css">
table, th, td{
  border: 1px solid ;
}
</style>
<div>
<table style="width: 100%">
<% @explain.products.each do |info| %>

    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>product</th>
            <th>remove </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= info.id %></td>
        <td><%= info.name %></td>
        <td><%= info.description %></td>
        <td><%= link_to "remove",product_path(info.id), data: {turbo_method: :delete,turbo_confirm: "Are you sure?" }   %></td>


        </tr>
    </tbody>
    <% end %>
</table>

</div>



 <%= link_to 'Back to square one', root_path %>





